<menu class="canvas-controlbar">
    <button class="canvas-button" {{action 'save'}}>Save</button>
    <button class="canvas-button" {{action 'undo'}}>Undo</button>
    <button class="canvas-button" {{action 'clear'}}>Clear</button>
    <button class="canvas-button">Preview</button>
    <button class="canvas-button">Actual Map</button>
    <button class="canvas-button canvas-button--right"></button>
</menu>
<!-- .canvas-controlbar -->

<div class="canvas-body" id="canvasWrapper">
    <canvas class="canvas-element" id="maps" width="100" height="100"></canvas>
</div>
<!-- canvas-body -->
