{{#each street in streets}}
<div class="streetlist-row" {{bind-attr style=street.color}}>
        <div>{{street.name}}</div>
        <div>{{feet-to-miles street.length}} mi</div>
    </div>
{{/each}}
