*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html,
body {
    height: 100%;
    font-family: 'Helvetica Neue', Arial sans-serif;
    font-weight: 200;
    @include fontsize(16);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ol,
ul,
menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}
