*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html,
body {
    height: 100%;
}

p,
ol,
ul {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    border-bottom: 1px solid #bbb;
}


th {
    text-align: left;
    font-weight: 200;
    padding-bottom: 15px;
}

td {
    margin: 0 5px;
}

tbody tr:first-child td {
    padding-top: 15px;
}

