.dropdown {
    display: block;
    position: relative;
    height: #{$controlbar-height}px;
    line-height: 1;
    padding: 9px 15px;
    margin-bottom: #{$spacing}px;
    background-color: white;

    @include transition(opacity 150ms ease-in);

    &:hover {
        &:after {
            border-color: $gray transparent;
        }
    }

    outline: none;
    cursor: pointer;

    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 16px;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: $darkgray transparent;
        @include transition(border-color 75ms ease);
    }

    &.active {
        z-index: 1;
        border-bottom-color: transparent;
    }

    &.active > .dropdown-list {
        opacity: 1;
        pointer-events: auto;
    }
}

.dropdown-list {
    padding: 0 13px 15px;
    list-style: none;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background-color: white;

    opacity: 0;
    pointer-events: none;

    @include transition(opacity 150ms ease);
}

.dropdown-item {
    //padding: 5px 0;
    color: $lightergray;
    @include transition(color 75ms ease);

    &:hover {
        color: $darkgray;
    }

    &:first-child {
        border-top: 1px solid $lightestgray;
        padding-top: 10px;
    }
}

.dropdown-option {
    @include appearance(none);
    @include box-sizing(border-box);
    display: block;
    padding: 1px;
    width: 100%;
    text-align: left;
    background: none;
    border: none;

    &:focus {
        outline: none;
    }
}
