.grid {
    font-size: 0;
    text-align: justify;
    overflow-y: scroll;
    padding-right: 15px;

    &:after {
        content: '';
        width: 100%;
        display: inline-block;
    }

    @extend %scrollbar;
}

.grid-item {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 16px;
}

.grid--three > .grid-item {
    width: #{100/34%};
}

.grid-image {
    border: 2px solid white;
    margin-bottom: 8px;

    > img {
        vertical-align: middle;
    }
}

.grid-body {}
