.text {}
.text--large {
    @include fontsize(32);
    line-height: (24/$base-font);
    font-weight: 200;
}

.text-emphasis {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    line-height: 1.25;
}

.text-normal {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #222;
    line-height: 1.25;
}

.text-lesser {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #999;
    line-height: 1.25;
}
