<span class="dropdown-label">Load another city's streets</span>
<ul class="dropdown-list">
{{#each c in cities}}
    <li class="dropdown-item" {{action 'selectCity' c}}>
        <button class="dropdown-option">{{c.name}}</button>
    </li>
{{/each}}
</ul>
