<div class="l-overlay">
    <div class="l-modal l-modal--large">
        <img src={{model.imageData}}>

        <div class="l-upperright">
            <button class="btn btn--white" {{action 'closeModal' 'previewModal'}}>X</button>
        </div>
    </div>
</div>
