.btn {
    appearance: none;
    border: none;
    display: inline-block;
    padding: 8px;

    letter-spacing: 0.5px;

    &:focus {
        outline: 1px dotted $darkgray;
    }
}

.btn[disabled] {
  opacity: 0.75;
  cursor: wait;
}

.btn--gray {
    background-color: $lightestgray;
    color: $darkgray;
}

.btn--darkgray {
    background-color: $darkgray;
    color: white;
    font-weight: 100;
}

.btn--white {
    background-color: white;
    color: $darkgray;
}
