@import "compass/css3";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

// Mixin for animations
@mixin animation($prop) {
  -webkit-animation: $prop;
  -moz-animation: $prop;
  -o-animation: $prop;
  animation: $prop;
}

// Create animation called 'check'
@include keyframes(check) {
  0% { height: 0; width: 0; }
  25% { height: 0; width: 12px; }
  50% { height: 24px; width: 12px; }
}

.upload-indicator {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  width: 0;

  @include transition(width 150ms ease);

  &.is-uploading,
  &.is-done {
    width: 30px;
    margin-left: 10px;
  }
}

.loader {
  opacity: 0;

  @include transition(opacity 125ms ease);

  .is-uploading & {
    opacity: 1;
  }
}

.checkmark {
  opacity: 0;

  .is-done & {
    opacity: 1;

    &:after {
      @include animation(check 0.8s ease-in);
    }
  }

    &:after {
      /*
      This element has a border on the right, and top. By rotating it looks like a check symbol, but the wrong way. That's why I'm flipping it with scaleX(-1)
      */
      @include transform(scaleX(-1) rotate(180deg + -45deg));
      /*
      I want to position the symbol using the left top, because when increasing the width and height of an object, it expands from the top left corner as well. That is what makes it looks like it's being drawn.
      */
      @include transform-origin(left, top);
      // The borders
      border-right: 3px solid #6aa;
      border-top: 3px solid #6aa;
      // Positioning and stuff
      content: '';
      display: block;
      height: 24px;
      width: 12px;
      position: absolute;
      top: 15px;
      left: 0px;
      @include transition(opacity 125ms ease)
  }
}
