<div class="l-highlight l-hightlight--dark">
    <div class="l-max">
        {{#link-to 'new'}}Draw{{/link-to}}
        {{#link-to 'gallery'}}Gallery{{/link-to}}
        {{#link-to 'about'}}About{{/link-to}}
    </div>
</div>

<div {{bind-attr class=":l-highlight isAbout:l-highlight--light:l-highlight--gray"}}>
    <div class="l-max">
        {{outlet}}
    </div>
</div>
